#dialogMsg {
  font-family: 'Source Sans Pro', sans-serif;
  display: none;
  width: 40%;
  border-radius: 0px;
}
#code {
  margin-left: 30%;
  margin-right: 30%;
  font-weight: 900;
  font-size: 107%;
  color: white;
  background-color: LightSkyBlue;
  display: flex;
  justify-content: center;
}
 #p1 {
   color: #696969;
   font-weight: lighter;
  display: flex;
  justify-content: center;
}
#disc-holder {
  flex-direction: column;
  font-size: 140%;
}
.p2 {
  font-size: 250%;
  font-weight: bolder;
}
#p3, #divs, .p3 {
  line-height: 1px;
  display: flex;
  justify-content: center;
  font-weight: lighter;
  color: #696969;

}
div#p2 {
  line-height: 1px;
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 600px) {  
  #dialogMsg {
    width: 75%;
  }
  .p2 {
    font-size: 150%;
    line-height: 1px;
    display: flex;
    justify-content: center;
  }
  #p2 {
    font-weight: 900;
  }
  #disc-holder {
    flex-direction: column;
    font-size: 110%;
  }
  #code {
    margin-left: 25%;
    margin-right: 25%;
  }
  #p1 {
    font-size: 80%;
  }
  div#p2 {
    line-height: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
